button.btn {
	padding: 0.5rem 1rem;
	background-color: var(--black);
	border: none;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: var(--white);
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		color: var(--black);
		background-color: var(--khaki);
	}
}
