.quiz-container {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: white;
	transition: 0.3s;
	cursor: pointer;

	& .quiz-data {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
		margin-left: 1rem;
		list-style: none;
		font-style: italic;

		& span {
			text-transform: capitalize;
			color: var(--dim-gray);
			font-weight: 700;
		}
	}
}

.quiz-container:hover {
	box-shadow: 0 0 1.5rem rgba(7, 2, 13, 0.2);
}
