.quizzes-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.quizzes-container div {
  display: flex;
  flex-direction: column;
}