div.options-container div {
	padding: 0.3rem 1rem;
	display: flex;
	gap: 0.5rem;

	& label {
    width: 100%;
		cursor: pointer;
	}
  
  &:hover {
    backdrop-filter: brightness(90%);
  }
}

div.options-container div:has(input[type="radio"]:checked) {
	background-color: var(--aero);
}
